{% load tz %}
{% load i18n %}

{% timezone timezone %}
    <div class="form-label">{% trans "Start: " %}{{ schedule.start }}</div>
    <div class="form-label">{% trans "End: " %}{{ schedule.end }}</div>
    <div class="form-label">{% trans "Timezone: " %}{{ timezone }}</div>
{% endtimezone %}