{% load i18n %}
{% for pk, stylist in stylists.items %}
<tr>
    <td><a href="{% url 'dashboard:user-detail' pk=pk %}">{{ stylist.name }}</a></td>
    <td>{{ stylist.timezone|default:"-" }}</td>
    <td>
    {% for schedule in stylist.schedules %}
        <b><i>{{ schedule.weekday_name }}</i></b>: {{ schedule.start }} - {{ schedule.end }}
        <br />
    {% empty %}
        -
    {% endfor %}
    </td>
    <td><a href="{% url 'schedules:admin-per-stylist-work-schedules' pk=pk %}" class="btn btn-primary">{% trans "Edit" %}</a></td>
</tr>
{% endfor %}
