{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load pipeline %}

{% block title %}
    {{ title }} | {% trans "Schedule" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'schedules:appointment_padding_create' %}" class="btn btn-primary btn-large pull-right"><i class="icon-plus"></i> {% trans "Create new appointment padding" %}</a>
        <h1>{{ title }}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <caption>
            {{ title }}
        </caption>
        <thead>
            <tr>
                <th>{% trans "Service" %}</th>
                <th>{% trans "Padding (in minutes)" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr> 
        </thead>
        <tbody>
            {% for padding in paddings %}
            <tr>
                <td>{{ padding.service }}</td>
                <td>{{ padding.minutes }}</td>
                <td><a href="{% url 'schedules:appointment_padding_update' pk=padding.pk %}" class="btn btn-primary">{% trans "Edit" %}</a></td>
            </tr>
            {% empty %}
                <p>{% trans 'No Appointment Padding found' %}
            {% endfor %}
        </tbody>
    </table>
{% endblock dashboard_content %}
