{% extends "dashboard/layout.html" %}
{% load i18n %}
{% load pipeline %}
{% load compress %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
    {% if admin %}
        <li>
            <a href="{% url 'schedules:admin-work-schedules' %}">{% trans "Stylist Work Schedules" %}</a>
        </li>
    {% endif %}
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        {% if admin %}<a href="{% url 'schedules:admin-work-schedule-create' pk=stylist.pk %}" class="btn btn-primary btn-large pull-right">{% trans "Create Stylist Work Schedules for " %}{{ stylist.get_full_name }}</a>{% endif %}
        <h1>{% trans "Work Schedules Per Stylist" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% if schedules %}
        <table class="table table-striped table-bordered">
            <caption>
                {{ title }}
            </caption>
            <thead>
                <tr>
                    <th>{% trans "Day" %}</th>
                    <th>{% trans "Start" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.weekday_name }}</td>
                    <td>{{ schedule.start }}</td>
                    <td>{{ schedule.end }}</td>
                    <td>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                    {% trans "Actions" %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="nav dropdown-menu pull-right">
                                    <li><a href="{% url 'schedules:admin-work-schedule-update' pk=schedule.pk %}">{% trans "Edit" %}</a></li>
                                    <li><a href="{% url 'schedules:admin-work-schedule-delete' pk=schedule.pk %}">{% trans "Delete" %}</a></li>                                    
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "Stylist " %}{{ stylist.get_full_name }}{% trans " has no work schedules." %}</p>
    {% endif %}
{% endblock %}
