{% extends 'dashboard/layout.html' %}

{% load i18n %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'schedules:list' %}">{% trans "Schedules" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}

        <p>
            {% blocktrans with title=schedule.title stylist=schedule.stylist.get_full_name start=schedule.start end=schedule.end %}
                Delete unavaialble schedule <strong>{{ name }}: {{ start }} - {{ end }} for stylist {{ stylist }}</strong> - are you sure?
            {% endblocktrans %}
        </p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            {% trans "or" %}
            <a href="{% url 'schedules:list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock %}
