{% extends "dashboard/layout.html" %}
{% load i18n %}
{% load pipeline %}
{% load schedule_extras %}
{% load tz %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
    {% if user|is_schedule_stylist:schedule %}
        <li>
            <a href="{% url 'schedules:calendar' %}">{% trans "Schedule" %}</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'schedules:admin-calendar' %}">{% trans "Stylist Schedules" %}</a>
        </li>
    {% endif %}
        <li class="active">{{ schedule.title }}</li>
    </ul>
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ schedule.title }}</h2>
    </div>
    <div class="content-block">
        <div class="row-fluid">
            <div id="page-title" class="span4 offset4">
                <h2>{% trans "Unavailable Schedule Details" %}</h2>
            </div>
        </div>
        <div class="row-fluid">
            <div id="wrapper" class="span4 offset4">
                <div class="row-fluid">
                    <div class="btn-spacer">
                        {% if user|is_schedule_stylist:schedule %}
                            <a href="{% url 'schedules:calendar' %}" role="button" class="btn btn-default">Go Back to Calendar</a>
                        {% else %}
                            <a href="{% url 'schedules:admin-calendar' %}" role="button" class="btn btn-default">Go Back to Calendar</a>
                        {% endif %}
                        {% if editable %}
                            <a href="{% url 'schedules:edit' schedule.id %}" role="button" class="btn btn-default">Edit</a>
                            <a href="{% url 'schedules:delete' schedule.id %}"type="button" class="btn btn-default" id="deleteBtn">Delete</a>
                        {% endif %}
                    </div>
                    <div class="span12">
                        <div class="form-label">{% trans "Title: " %}{{ schedule.title }}</div>
                        {% include "oscar_appointments/_schedule_detail.html" with timezone=schedule.timezone schedule=schedule %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% javascript 'schedule_detail' %}
{% endblock %}
