{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load pipeline %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
    {% if admin %}
        <li>
            <a href="{% url 'schedules:admin-work-schedules' %}">{% trans "Stylist Work Schedules" %}</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'schedules:work-schedules' %}">{% trans "My Work Schedules" %}</a>
        </li>
    {% endif %}
    {% if stylist and admin %}
        <li>
            <a href="{% url 'schedules:admin-per-stylist-work-schedules' pk=stylist.pk %}">{% trans "Work Schedules for stylist " %}{{ stylist.get_full_name }}</a>
        </li>
    {% endif %}
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
    <div class="well">
        {% include 'partials/form.html' with includes_files=1 class='wysiwyg' %}
    </div>
{% endblock dashboard_content %}
