{% extends "dashboard/layout.html" %}
{% load i18n %}
{% load pipeline %}
{% load compress %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'schedules:work-schedule-create' pk=stylist.pk %}" class="btn btn-primary btn-large pull-right">{% trans "Create Work Schedules" %}</a>
        <h1>{% trans "My Work Schedules" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <caption>
            {% trans "My Work Schedules" %}
        </caption>
        <thead>
            <tr>
                <th>{% trans "Stylist" %}</th>
                <th>{% trans "Timezone" %}</th>
                <th>{% trans "Work Schedules" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stylist.name }}</td>
                <td>{{ stylist.timezone|default:"-" }}</td>
                <td>
                {% for schedule in stylist.schedules %}
                    <b><i>{{ schedule.weekday_name }}</i></b>: {{ schedule.start }} - {{ schedule.end }}
                    <br />
                {% empty %}
                    -
                {% endfor %}
                </td>
                <td><a href="{% url 'schedules:per-stylist-work-schedules' pk=pk %}" class="btn btn-primary">{% trans "Edit" %}</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
