{% extends "dashboard/layout.html" %}
{% load i18n %}
{% load pipeline %}
{% load compress %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'schedules:new-admin-work-schedule-create' %}" class="btn btn-primary btn-large pull-right">{% trans "Create Stylist Work Schedules" %}</a>
        <h1>{{ title }}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
<form action="" id="stylist-form">
    {% csrf_token %}
    <span class="form-label">{% trans "Stylist:" %}</span>
    {{ form.stylist }}
</form>
<table class="table table-striped table-bordered">
    <caption>
        {% trans "Stylists Work Schedules" %}
    </caption>
    {% if stylists %}
        <thead>
            <tr>
                <th>{% trans "Stylist" %}</th>
                <th>{% trans "Timezone" %}</th>
                <th>{% trans "Work Schedules" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
        {% include "oscar_appointments/_work_schedules_admin_table.html" with stylists=stylists %}
        </tbody>
    {% else %}
        <tbody><tr><td>{% trans "No work schedules found" %}</td></tr></tbody>
    {% endif %}
</table>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript">
            var pgb = pgb || {};
            pgb.admin_url = "{% url 'schedules:admin-work-schedules' %}";
        </script>
    {% endcompress %}
    {% javascript 'stylist_form' %}
{% endblock %}