{% extends 'dashboard/layout.html' %}

{% load i18n %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
    {% if staff %}
        <li>
            <a href="{% url 'schedules:admin-work-schedules' %}">{% trans "Stylist Work Schedules" %}</a>
        </li>
        <li>
            <a href="{% url 'schedules:admin-per-stylist-work-schedules' pk=schedule.stylist.pk %}">{% trans "Work Schedules for stylist " %}{{ schedule.stylist.get_full_name }}</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'schedules:work-schedules' %}">{% trans "My Work Schedules" %}</a>
        </li>
    {% endif %}
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{{ title }}</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}

        <p>
            {% blocktrans with name=schedule.weekday_name stylist=schedule.stylist.get_full_name start=schedule.start end=schedule.end %}
                Delete work schedule <strong>{{ name }}: {{ start }} - {{ end }} for stylist {{ stylist }}</strong> - are you sure?
            {% endblocktrans %}
        </p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            {% trans "or" %}
            {% if staff %}
                <a href="{% url 'schedules:admin-per-stylist-work-schedules' pk=schedule.stylist.pk %}">{% trans "cancel" %}</a>
            {% else %}
                <a href="{% url 'schedules:per-stylist-work-schedules' pk=schedule.stylist.pk %}">{% trans "cancel" %}</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
